body{
  background-color:white;
  font-family: Helvetica;
}

/* Header */
.header-wrapper {
  background-color: #a4bdff;
  border-bottom: 1px solid #95baff;
  width: 100%;
  height: 60px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  position: relative;
  padding-top: 10px;
}

/* Selected Travel */
.travel-wrapper {
  padding-top:20px;
  padding-left: 30px;
  padding-right: 30px;
}

.travel-heading {
  display: flex;
  align-items: left;
  justify-content: left;
  font-weight: normal;
  font-size: 18px;
}

.travel-img {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  overflow: hidden;
}

.travel-img img {
  max-height: calc(100vh - 220px);
  width: 100%;
}

.travel-date {
  display: flex;
  align-items: left;
  justify-content: left;
  font-weight: normal;
  font-size: 15px;
  margin-top: 0px;
}

.travel-done-button {
  display: flex;
  align-items: left;
  justify-content: left;
  font-weight: normal;
  font-size: 20px;
  margin-top: 20px;
}

.btn-action{
  font-family: Helvetica;
  background-color:#b7ca05;
  border-color: #d4c706;
  height:40px;
  margin-right: 10px;
  font-size:18px;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-action:hover {
  background-color: #fca924;
  border-color: #d18c1b;
}

.btn-add {
  position: absolute;
  right: 0px;
}

/* travel List */
.travel-list-wrapper {
  padding-top:20px;
}

.travel-list-table {
  margin-top: 20px;
  height: calc(50vh - 140px);
  overflow-y: scroll;
  cursor: pointer;
}

.search-button:hover {
  background-color: #d18c1b;
  border-color: #d18c1b;
  color: white;
}

.padding-bottom{
  padding-bottom: 40px
}

div{
  font-family: 'Nanum Gothic', sans-serif;
}



